/*=======GOOGLE MAP========*/
iframe {
  height: 450px;
  width: 600px;
}

@media only screen and (max-width: 700px) {
  iframe {
    height: 300px;
    width: 450px
  }
}

@media only screen and (max-width: 400px) {
  iframe {
    height: 200px;
    width: 300px
  }
}

/*=========HEADINGS==========*/
.heading {
  margin-bottom: 30px;
}

/*=========IMAGES==========*/
.pastor {
  background-image: url(../media/jump.jpg);
  background-size: cover;
  background-position: center;
  height: 700px;
}

#name {
  padding: 20px;
  text-shadow: 2px 2px 5px #000;
}

@media only screen and (max-width: 700px) {
  .pastor {
    height: 300px;
    width: 450px
  }
}

@media only screen and (max-width: 400px) {
  .pastor {
    height: 200px;
    width: 300px
  }
}

.wrapper {

}
