body {
    background-image: url("https://thomwise.github.io/adventures/media/pch.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.layout {
    padding: 10px;
    height: 150vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.divcenter {
    position: relative;
    overflow: hidden;
    grid-area: 2 / 2 / 5 / 5;
    box-shadow: -2px 2px 6px 0px rgb(58, 58, 58);
}

.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.divt1 {
    grid-area: 1 / 1 / 2 / 2;
    background-image: url("/media/point-reyes.jpg");
    background-position: center;
    background-size: cover;
    box-shadow: -2px 2px 6px 0px rgb(58, 58, 58);
}

.divt2 {
    grid-area: 1 / 2 / 2 / 3;
    background-color: tomato;
    box-shadow: -2px 2px 6px 0px rgb(58, 58, 58);
}

.divt3 {
    grid-area: 1 / 3 / 2 / 4;
    background-color: tomato;
    box-shadow: -2px 2px 6px 0px rgb(58, 58, 58);
}

.divt4 {
    grid-area: 1 / 4 / 2 / 5;
    background-color: tomato;
    box-shadow: -2px 2px 6px 0px rgb(58, 58, 58);
}

.divt5 {
    grid-area: 1 / 5 / 2 / 6;
    background-color: tomato;
    box-shadow: -2px 2px 6px 0px rgb(58, 58, 58);
}

.divl1 {
    grid-area: 2 / 1 / 3 / 2;
    background-image: url("/media/point-reyes1.jpg");
    background-position: center;
    background-size: cover;
    box-shadow: -2px 2px 6px 0px rgb(58, 58, 58);
}

.divl2 {
    grid-area: 3 / 1 / 4 / 2;
    background-color: tomato;
    box-shadow: -2px 2px 6px 0px rgb(58, 58, 58);
}

.divl3 {
    grid-area: 4 / 1 / 5 / 2;
    background-color: tomato;
    box-shadow: -2px 2px 6px 0px rgb(58, 58, 58);
}

.divl4 {
    grid-area: 5 / 1 / 6 / 2;
    background-color: tomato;
    box-shadow: -2px 2px 6px 0px rgb(58, 58, 58);
}

.divr1 {
    grid-area: 2 / 5 / 3 / 6;
    background-color: tomato;
    box-shadow: -2px 2px 6px 0px rgb(58, 58, 58);
}

.divr2 {
    grid-area: 3 / 5 / 4 / 6;
    background-color: tomato;
    box-shadow: -2px 2px 6px 0px rgb(58, 58, 58);
}

.divr3 {
    grid-area: 4 / 5 / 5 / 6;
    background-color: tomato;
    box-shadow: -2px 2px 6px 0px rgb(58, 58, 58);
}

.divr4 {
    grid-area: 5 / 5 / 6 / 6;
    background-color: tomato;
    box-shadow: -2px 2px 6px 0px rgb(58, 58, 58);
}

.divb1 {
    grid-area: 5 / 2 / 6 / 3;
    background-color: tomato;
    box-shadow: -2px 2px 6px 0px rgb(58, 58, 58);
}

.divb2 {
    grid-area: 5 / 3 / 6 / 4;
    background-color: tomato;
    box-shadow: -2px 2px 6px 0px rgb(58, 58, 58);
}

.divb3 {
    grid-area: 5 / 4 / 6 / 5;
    background-color: tomato;
    box-shadow: -2px 2px 6px 0px rgb(58, 58, 58);
}

@media only screen and (max-width: 768px) {

    .layout {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(10, 1fr);
    }    


    .divl1 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .divl2 {
        grid-area: 1 / 2 / 2 / 3;
    }

    .divt1 {
        grid-area: 1 / 3 / 2 / 4;
    }

    .divt2 {
        grid-area: 2 / 1 / 3 / 2;
    }

    .divt3 {
        grid-area: 2 / 2 / 3 / 3;
    }

    .divt4 {
        grid-area: 2 / 3 / 3 / 4;
    }

    .divt5 {
        grid-area: 3 / 1 / 4 / 2;
    }

    .divr1 {
        grid-area: 3 / 2 / 4 / 3;
    }

    .divr2 {
        grid-area: 3 / 3 / 4 / 4;
    }

    .divcenter {
        grid-area: 4 / 1 / 7 / 4;
    }

    .divr3 {
        grid-area: 7 / 1 / 8 / 2;
    }

    .divr4 {
        grid-area: 7 / 2 / 8 / 3;
    }

    .divb3 {
        grid-area: 7 / 3 / 8 / 4;
    }

    .divb2 {
        grid-area: 8 / 1 / 9 / 2;
    }

    .divb1 {
        grid-area: 8 / 2 / 9 / 3;
    }

    .divl4 {
        grid-area: 8 / 3 / 9 / 4;
    }

    .divl3 {
        grid-area: 9 / 1 / 11 / 4 
    }
}