/*========UNIVERSALS========*/
@import url('https://fonts.googleapis.com/css?family=Catamaran|Nunito|Satisfy');

h1{
  font-family: catamaran;
}

.bkgd-brown {
  background-color: #7a2d2d;
}

.footer {
  background-color: #7a2d2d;
  height: 100px;
}

.text-shadow {
  text-shadow: 3px 3px 7px #000;
}

.white-text {
  color: #fff;
}

.satisfy {
  font-family: satisfy;
}

.medium {
  font-size: 30px;
}

.top-space {
  margin-top: 30px;
}

.bottom-space {
  margin-bottom: 30px;
}

.well {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 3px 3px 5px #000;
}

img {
  box-shadow: 3px 3px 5px #000;
}

.transluscent {
  background-color: rgba(255, 255, 255, 0.7  );
  border-radius: 3px;
}
/*=========NAVIGATION BAR=========*/
.navbar-inverse {
  border: none;
  background: rgba(0, 0, 0, .2);
}

.active:active, .active:focus, .active:hover, .active:visited {
  background-color: rgba(0, 0, 0, 0.5);
}

/*============CAROUSEL=============*/
.item {
  height: 450px;
  background-position: center;
  background-size: cover;
}

#cross {
  background-image: url('../media/cross.jpg');
}

#flower {
  background-image: url('../media/flower.jpg');
}

#hands {
  background-image: url('../media/hands.jpg');
}

/*==========WELCOME==========*/
.bienvenidos {
  height: 550px;
  background-color: #fff;
}

@media {
  
}
/*==========FOOTER==========*/
.fa {
  padding: 20px;
  color: #fff;
}
