/*========UNIVERSALS========*/
@import url('https://fonts.googleapis.com/css?family=Catamaran|Nunito|Satisfy');

h1, h2, h4 {
  font-family: catamaran;
}

.main {
  background-color: #d2d0dd;
}

.row {
  margin: 0;
}

footer {
  padding-top: 2rem;
  height: 100%;
  background: rgba(0, 0, 0, .5);
}

.text-shadow {
  text-shadow: 4px 5px 7px #000;
}

.white-text {
  color: #fff;
}

.satisfy {
  font-family: satisfy;
}

.medium {
  font-size: 32px;
}

.top-space-big {
  margin-top: 60px;
}

.top-space {
  margin-top: 30px;
}

.bottom-space {
  margin-bottom: 30px;
}

.bottom-pad {
  padding-bottom: 50px;
}

.top-pad {
  padding-top: 40px;
}

.no-pad {
  padding: 0;
}

.pad {
  padding: 20px;
}

.no-margin {
  margin: 0;
}

img {
  box-shadow: 3px 3px 5px #000;
}

.transluscent {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 3px;
}

a:hover {
  text-decoration: none;
}

p {
  margin: none;
}

/*=========NAVIGATION BAR=========*/
.navbar {
  padding: 0 1rem 0 1rem;
  background-color: rgba(0, 0, 0, 0.5);
}

#name {
  transition: -webkit-transform 2s ease;
  transition: transform 2s ease;
}

#name:hover {
  color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 421px) {
  #name {
    font-size: 24px;
  }
}

.navbar-toggler:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

/*============CAROUSEL=============*/
.first_hike {
  background-image: url("https://thomwise.github.io/adventures/media/first_hike.jpg");
  background-position: 100% 50%;
  background-size: cover;
  height: 60vh;
  width: 100%;
  position: absolute;
}

.engagement {
  background-image: url("https://thomwise.github.io/adventures/media/masterminds.jpg");
  background-position: 50% 0%;
  background-size: cover;
  height: 60vh;
  width: 100%;
  position: absolute;
}

.wedding {
  background-image: url("https://thomwise.github.io/adventures/media/wedding.jpg");
  background-position: 50% 50%;
  background-size: cover;
  height: 60vh;
  width: 100%;
  position: absolute;
}

.travels {
  background-image: url("https://thomwise.github.io/adventures/media/waterton.jpg");
  background-position: 0% 50%;
  background-size: cover;
  height: 60vh;
  width: 100%;
  position: absolute;
}

.carousel-inner .carousel-item {
  transition: -webkit-transform 2s ease;
  transition: transform 2s ease;
  height: 60vh;
}
